body {
    background-color:#b4e2e2;
}
h1{
    color: #413db8;
}
h3 {
    color: #363f99;
}
hr {
    background-color: #b4e2e2;
    border-style:none;
    border-top-style: dotted;
    border-color: black;
    border-width: 5px;
    width: 5%;
}
